<div class="row pt-2    ">
    <div class="col-12 flex-center">
        <mat-form-field style="width:300px" appearance="outline" >
            <mat-label>Registros</mat-label>
            <mat-select [(ngModel)]="registros" (selectionChange)="getDataRest()">
                <mat-option *ngFor="let opt of optRegistros" [value]="opt.value">{{opt.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
        <p-table [value]="dataHombres" [rowHover]="true" [scrollable]="true" scrollHeight="300px" [virtualScroll]="true" [virtualScrollItemSize]="25">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12 col-lx-12 col-md-12 col-sm-12 custom-table-title text-center">
                       Hombres ({{dataHombres.length }})
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="column-fixed" pSortableColumn="fullname" style="min-width:220px;">
                        Nombre
                        <p-sortIcon field="dob.age"></p-sortIcon>
                    </th>
                    <th style="min-width:70px; max-width: 70px;">
                        Genero
                    </th>
                    <th pSortableColumn="dob.age">
                        Edad
                        <p-sortIcon field="dob.age"></p-sortIcon>
                    </th>
                    <th class="column-fixed" style="min-width:220px;" pSortableColumn="email">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td>{{rowData.name.title}} {{rowData.name.first}} {{rowData.name.last}} </td>
                    <td style="min-width:70px; max-width: 70px;">{{rowData.gender}}</td>
                    <td style="min-width:70px; max-width: 70px;">{{rowData.dob.age}}</td>
                    <td>{{rowData.email}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-lg-6 col-sm-12">
        <p-table [value]="dataMujeres" [scrollable]="true" scrollHeight="300px" [virtualScroll]="true" [virtualScrollItemSize]="25">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12 col-lx-12 col-md-12 col-sm-12 custom-table-title text-center">
                       Mujeres ({{dataMujeres.length}})
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="column-fixed" pSortableColumn="fullname" style="min-width:220px;">
                        Nombre
                        <p-sortIcon field="dob.age"></p-sortIcon>
                    </th>
                    <th style="min-width:70px; max-width: 70px;">
                        Genero
                    </th>
                    <th pSortableColumn="dob.age" style="min-width:70px; max-width: 70px;">
                        Edad
                        <p-sortIcon field="dob.age"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email" class="column-fixed" style="min-width:220px;">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td class="column-fixed" style="min-width:220px;">{{rowData.name.title}} {{rowData.name.first}} {{rowData.name.last}} </td>
                    <td style="min-width:70px; max-width: 70px;">{{rowData.gender}}</td>
                    <td style="min-width:70px; max-width: 70px;">{{rowData.dob.age}}</td>
                    <td class="column-fixed" style="min-width:220px;">{{rowData.email}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>