//imports
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$table-fontsize: 12px;
$table-header-fontsize: 12px;
body, .mat-typography, .mat-body, .p-component, .mat-form-field, .mat-select, .mat-typography h1, .mat-typography h2, .mat-typography h3 , .mat-typography h4, .mat-typography h5, .mat-typography h6 , .mat-option, .p-datatable-thead {
    margin: 0;
    //font-family: Roboto, "Helvetica Neue", sans-serif;
    //font-family: Inter,sans-serif;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500;
    font: 400 'Quicksand', sans-serif !important;
}
//$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/brands';
$global-border-input:rgb(206, 212, 218);
$color-fondo: red;
.mat-success-button{
    color: #ffffff !important;
    background: #22C55E !important;
    border: 1px solid #22C55E !important;
}
.mat-success-button:active{
    background: #15803D;
    color: #ffffff;
    border-color: #15803D;
}
table {
    border-collapse: inherit;
}
body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.p-button:focus{
    box-shadow: none !important;
}
.entorno-public{
    width: 100%;
    height: 100%;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{
    transform: translateY(-1.7em) scale(0.75);
}
.mat-form-field-subscript-wrapper{
    margin: 0px;
}

input.p-column-filter{
    height: 26px;
}
div.table-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.standar-border{
    border: 1px solid $global-border-input;
}
.p-margin-button{
    margin: 0 2.5px !important;
}
.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 500 !important;
    font-size: 1.2rem !important;
}
.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pintar-fondo{
    background-color: $color-fondo;
}
input[type="date"].hide-controls::-webkit-inner-spin-button,
input[type="date"].hide-controls::-webkit-calendar-picker-indicator {
    display: none;
    //-webkit-appearance: none;
}
.mat-date-range-input-start-wrapper, .mat-date-range-input-end-wrapper{
    width: calc(50% - 4px);
}
.mat-date-range-input-start-wrapper{
    text-align: end;
}
.mat-date-range-input-start-wrapper > input, .mat-date-range-input-end-wrapper > input{
    width: 100%;
}
.p-calendar{
    width: 100%;
}
 td .p-datepicker{
    min-width: 400px !important;
 }  
.pendiente{
    background:#ff000033;
}
/*se encarga de separar todos*/
div.mat-checkbox-list > mat-checkbox{
    margin: 0px 10px !important;
}
.cdk-overlay-panel ,.cdk-overlay-pane, .cdk-overlay-connected-position-bounding-box,.cdk-overlay-container{
    z-index:13000 !important;
}
html, body { height: 100%;}
.hidden, .ocultar{
    display:none !important;
}
.center,.flex-center{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.sort-icon-center i{
    margin: 0px !important;
}

.mat-form-field{
    width:100%;
}
*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background: #b9b7b5;
}
*::-webkit-scrollbar-thumb{
    background-color: #d7d7dd;
}
//ajustes cabeceras de tablas prime
thead.p-datatable-thead tr th input{
    width: 100%;
    font-size: $table-fontsize;
}
thead.p-datatable-thead tr th{
    font-size: $table-header-fontsize !important;
    padding: 2px 4px 2px 4px !important;
    p-columnfilter{
        width: 100%;
    }
}
tbody.p-datatable-tbody tr td{
    font-size: $table-fontsize !important;
    padding: 2px 4px 2px 4px !important;
}
.p-component{
    font-size: inherit;
}
div.p-paginator button{
    width: 25px !important;
    max-width: 25px !important;
    height: 25px !important;
    font-size: 11px !important;
    min-width: inherit !important;
}
//input prime
.p-inputtext{
    padding: inherit !important;
}
.icon-button{
    width: 32px !important;
    height: 32px !important;
}
.sm-icon-button, .icon-button-sm{
    width: 26px !important;
    height: 26px !important;
}
.xl-icon-button, .icon-button-xl{
    width: 46px !important;
    height: 46px !important;
}
legend.p-fieldset-legend{
    display: inherit; 
    width: max-content;
    max-width: inherit; 
    padding: 5px 10px !important;
    font-size: 15px;
}
legend.p-fieldset-legend>a{
    padding: 0px !important;
}
a.p-tabview-nav-link{
    padding: 10px 10px !important;
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    //-webkit-appearance: none ;
    margin: 0
}
input[type=number],input[type=text] {
    font-size: 12px;
}
div.p-multiselect{
    width: 100%;
    height: 26px;
}
h6.titulo{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.p-datatable {
    border-radius: 10px;
}
div.p-datatable-header{
    font-size: 14px !important;
    border-radius: 10px 10px 0px 0px;
}
.p-datatable-footer{
    border-radius: 0px 0px 10px 10px;
}
.p-datatable-footer,.p-datatable-header{
    padding: 5px 10px !important;
}
.mat-form-field-infix{
    //tamaño letra mat-input
    font-size: 13px !important;
    /*height: 32.09px !important;*/
}
/*.mat-form-field-suffix{
    height: 28px !important;
    width: 28px !important;
}*/
/*.mat-select{
    padding-bottom:1.59px !important;
}*/
mat-form-field.mat-form-field-disabled > div.mat-form-field-wrapper  > div.mat-form-field-flex > div.mat-form-field-outline{
    color: rgba(0,0,0,.12) !important;
}
input:disabled,textarea:disabled,.mat-select-disabled,.mat-select-value{
    color:#332f2c !important;
}
.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.suscriptores-table>div>div.p-datatable-scrollable-wrapper,
.suscriptores-table>div>div.p-datatable-scrollable-wrapper>div.p-datatable-scrollable-view{
    height: 100% !important;  
}
.suscriptores-table>div>div.p-datatable-scrollable-wrapper>div.p-datatable-scrollable-view>div.p-datatable-scrollable-body{
    height: calc(100% - 28.8px) !important;
    border-left: 1px solid #e9ecef;
}
.column-fixed{
    width: -webkit-fill-available;
}
/*el siguiente estilo configura el virtual scroll para que funciones en scroll horizontal.*/
.cdk-virtual-scroll-content-wrapper{
    contain: initial !important;
}
.th-fixed{
    display: flex;
}
.th-fixed-header{
    display: flex;
    height: 23.2px;
}
tr.th-fixed-filter{
    display: flex;
    height: 30.4px;
}
tr.th-fixed-filter > th{
    display: flex;
    height: 30px;
}
.td-fixed{
    display: flex;
    //width: fit-content;
}
.multiselect-row{
    position:absolute;
    display: block;
}
//acomoda scroll bar para tablas con virtual scroll
.p-datatable-scrollable-header-box{
    padding-right: 0px !important;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.p-sortable-column-icon{
    font-size: 11px;
}
.table-toolbar-header{
    display: flex;
    justify-content: flex-end;
}
.p-multiselect-label{
    padding: 3px !important;
}
input.p-column-filter{
    border-color: $global-border-input !important;
    border-style: solid !important;
    border-radius: 3px;
}
input.p-column-filter{
    padding: 2px 1px !important;
}
input[type=date].p-column-filter{
    padding: 1px 2px !important;
}
//opciones para acomodar multiselects en tablas que no tienen paginador
.table-multiselect-filter{
    position: absolute;
    //width: 100%;
}
//aomoda el tamaño del icono de los multiselects
.p-multiselect-trigger-icon{
    font-size: inherit !important;
}
.fieldset-ordenes>div.p-toggleable-content>div.p-fieldset-content{
    padding: 0px !important;
}
//mustra la letra en mayuscula en todo los hijos de la etiqueta
/*mat-form-field > *,input {
    text-transform: uppercase;
}*/
.p-tooltip{
    z-index: 15000 !important;
}
/*div.p-datatable-scrollable-body{
    overflow-y: auto !important;
}*/
//acomoda la scrollbar para tablas escolleables sin virtual scroll
.p-datatable-frozen-view .p-datatable-scrollable-header{
    padding-right: 0px !important;
}
.p-datatable-unfrozen-view .p-datatable-scrollable-header{
    padding-right: 9.2px !important;
}
.p-datatable-scrollable-wrapper .p-datatable-scrollable-header {
    padding-right: 9.2px !important;
}
/*p-table div.p-datatable div.p-datatable-scrollable-wrapper div.p-datatable-scrollable-view div.p-datatable-scrollable-header div.p-datatable-scrollable-header-box{
    padding-right: 9.2px !important;
}*/
//bordes tablas
tbody.p-datatable-tbody>tr{
    border:0px;
    //border-left: 1px !important;
    //border-right: 1px !important;
    //border-style: solid !important;
    //border-color: #e9ecef !important;
}
//.p-datatable-virtual-scrollable-body,.p-datatable-scrollable-header
.p-datatable{
    border: 1px solid #e9ecef;
}
.p-datatable-scrollable-header{
    border-bottom-width: 0px;
}
.p-datatable-tbody>tr:last-child{
    border:0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #e9ecef;
}
.p-galleria-caption{
    padding: 2px !important;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0px !important;
}
/*reduce el padding de la grilla a la mitad*/
.col-sm-padding{
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.max-height{
    min-height: 98% !important;
}
div.p-datatable-frozen-view{
    position: relative !important;
    z-index: 100;
}
div.p-datatable-frozen-view > .p-datatable-virtual-scrollable-body{
    overflow-y: hidden !important;
    overflow-x: scroll ;
}
div.p-datatable-frozen-view > .p-datatable-virtual-scrollable-body::-webkit-scrollbar{
    width: 10px;
    background: #ffffff;
}
div.p-datatable-frozen-view > .p-datatable-virtual-scrollable-body::-webkit-scrollbar-thumb{
    background-color: #ffffff;
}
p-tabview{
    width: 100%;
    height: 100%;
}
.p-tabview{
    height: 100%;
}
div.p-tabview-panels{
    height: calc(100% - 36px);
    padding: 5px 2px !important;
}
div.p-tabview-panel{
    height: 100%;
}
/*div.cdk-virtual-scroll-content-wrapper, div.cdk-virtual-scroll-content-wrapper > table{
    height: 100%;
}*/
.p-galleria-item-nav{
    color: #7b6464 !important;
}

.tab-filtros > div > ul > li:nth-child(2) > a{
    height: 35px !important;
}
.p-datatable-virtual-scrollable-body{
    overflow-y: scroll !important;
}
.th-fixed-rowspan-2{
    height: 50px;
}
.p-button.p-button-sm {
    /*font-size: 0.875rem;
    padding: 0.65625rem 1.09375rem;*/
    font-size: 0.875rem;
    padding: 0.35rem 0.340rem;

    //padding: 0.2162rem 0.439rem;
    //padding: 5px 7px !important;
    //font-size: 13px !important;
}
.footer-table-tr > td {
    padding: 1px 1rem !important;
    margin:  0px;
}
.dropdown-table-rutas{
    width: 100%;
    border: 0px;
}
.dropdown-table-rutas:focus{
    border: 0px;
}
.dropdown-table-rutas > span.p-dropdown-label{
    font-size: 10px;
}
.dropdown-table-rutas > div.p-dropdown-trigger{
    width: fit-content;
}
.dropdown-table-rutas > div.p-dropdown-trigger span.p-dropdown-trigger-icon{
    font-size: 16px;
    height: -webkit-fill-available;
    margin: 0px 5px;
}
/*.p-datatable th , .p-datatable td {
    border: 1px solid #e9ecef !important;
    border-width: 0 0.5px 1px 0.5px !important;
}*/
/*.p-datatable th:first-child , .p-datatable td:first-child {
    border: 1px solid #e9ecef !important;
    border-width: 0 0.5px 1px 1px !important;
}*/
/*.p-datatable th:last-child , .p-datatable td:last-child {
    border: 1px solid #e9ecef !important;
    border-width: 0 1px 1px 0.5px !important;
}*/
div.p-ripple.p-button{
    padding: 5px 10px;
}
@media screen and (max-width: 576px){
    //pantallas moviles
    .td-fixed{
        display: flex;
        width: fit-content;
    }
    .sm-no-padding{
        padding: 0px !important;
    }
}
//estilos para mat-check en tablas
.p-selectable-row  .mat-checkbox-layout{
    margin: 0px;
}
.perfiles-table .p-datatable-scrollable-footer{
    height: 25px !important;
}
.perfiles-table .p-datatable-scrollable-footer-box{
    height: 25px !important;
}
.p-column-filter-clear-button{
    width: 22px !important;
    height: 22px !important;
    margin-left: 0px !important;
    span{
        width: 14px !important;
    }
}
.mat-input-element{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.row > * {
    padding-left: 4px !important;
    padding-right: 4px !important;
}
.p-fieldset .p-fieldset-content{
    padding: 0.6rem;
}
.p-galleria-thumbnail-container{
    padding: 0px !important;
}
.p-galleria-thumbnail-container{
    height: 40px !important;
}
.p-galleria-thumbnail-item-content{
    margin-right: 5px;
    margin-left: 5px;
}
.preview-gallery{
    width: 50px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
}
.p-galleria-thumbnail-items{
    display: inline-flex !important;
}
.foto-fach, .foto-medi{
    width: 100%;
    max-width: 1200px;
    max-height: 300px;
}
.nueva-evidencia{
    width: 250px;
    max-height: 157px;
    display: flex;
}
.p-divider.p-divider-horizontal{
    margin: 0px !important;
}
.image-control-preview .p-image-preview{
    max-width: 1100px !important;
}
.p-image-toolbar{
    z-index: 1102 !important;
}
.speeddial-int-sm{
    margin: 0 auto;
    height: 30px !important;
    min-height: 30px !important;
}
.speeddial-button-sm{
    width: 30px !important;
    height: 30px !important;
    min-height: 30px !important;
}
.speeddial-sm{
    margin:0 auto;
    width:48px;
}
.speeddial-right {
    right: 0;
    bottom: 0;
}
.p-datatable-scrollable>.p-datatable-wrapper>.p-datatable-table>.p-datatable-tfoot {
    bottom: 0px !important;
}
.bloqueado{
   background: #ffdfdf;
}
.disponible{
    background: #d5ffb6;
}
.custom-table-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.p-card-body{
    padding: .5rem !important;
}
.p-card-content {
    padding: .2rem 0 !important;
}
.p-card-header{
    padding: .1rem !important;
    h1, h2, h3, h4, h5, h6{
        padding: .2rem .5rem !important;
    }
}

//ajuste a tabla
/*table.p-datatable-table{
    min-width: fit-content !important;
    thead{
        width: fit-content;
    }
    tbody{
        tr{
            height: min-content !important;
        }
    }
}*/
/*div.p-datatable.p-datatable-scrollable{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    .p-datatable-wrapper {
        width: 100%;
        max-width: 100%;
        cdk-virtual-scroll-viewport.p-datatable-virtual-scrollable-body{
            //background: red;
            display: table !important;
            width: fit-content;
            div.cdk-virtual-scroll-content-wrapper{
                position: inherit;
                display: contents;
                min-width: fit-content !important;
                table.p-datatable-table{
                    min-width: fit-content !important;
                    thead{
                        width: fit-content;
                    }
                    tbody{
                        width: fit-content;
                    }
                }
            }
        }
    }
}*/

/*div.cdk-virtual-scroll-content-wrapper{
    width: fit-content !important;
    min-width: fit-content !important;
    table.p-datatable-table{
        width: fit-content !important;
        min-width: fit-content !important;
        .p-datatable-thead {
            width: fit-content !important;
            tr{
                width: fit-content !important;
            }
        }
        .p-datatable-tbody{
            width: fit-content !important;
            tr{
                width: fit-content !important;
            }   
        }
    }
}*/

/*table.p-datatable-table{
    //width: fit-content !important;
    //min-width: fit-content !important;
    .p-datatable-thead {
        //width: fit-content !important;
        tr{
            //width: fit-content !important;
            th{
                //border-left-width: .25px !important;
                //border-right-width: .25px !important;
            }
        }
    }
    .p-datatable-tbody{
        //width: fit-content !important;
        tr{
            //width: fit-content !important;
            td{
                //border-left-width: .25px !important;
                //border-right-width: .25px !important;
            }
        }
    }
}*/

//ajustes botones material
.mat-button-wrapper > span {
    vertical-align: middle;
    font-weight: 600;
}
//ajustes botones date picker.
.date-range-micromedicion > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-infix{
    padding: 0.5em 0 !important;
}
.date-range-micromedicion > .mat-form-field-wrapper{
    padding: 0px !important;
    .mat-form-field-flex > .mat-form-field-infix{
        padding: 0.5em 0 !important;
    }
}

//ajustes filtros tablas prime 
.p-multiselect-header{
    padding: .25rem .50rem !important;
}
.p-multiselect-items{
    padding: .2rem !important;
    .p-multiselect-item{
        padding: .2rem .4rem !important;
    }
}
.crud-button-standard{
    width: 103px;
    text-align: center;
    .p-button-icon-left {
        margin: 0px;
    }
}
//ajuste a los titulos de las emergentes 
.p-dialog-header{
    padding-top: .7rem !important;
    padding-bottom: .7rem !important;
}
.p-dialog-footer{
    padding: 0 1.5rem .7rem 1.5rem !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
